<div class="top-page">
  <h1 class="title">ようこそ <strong>Bookers </strong>へ！</h1>
  <p class="text-box"><strong>Bookers </strong>では様々な書籍に関するあなたの意見や</p>
  <p class="text-box">印象を共有し、交換することができます。</p>
  <p class="text-box">
     <%= link_to "start", "/books" %>
 </p>
</div>